@use '../themes/defaultThemes' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;





.home-img{
    border-radius: $radius;
    border: soild $primary-0;
    margin-bottom: 1rem;
    box-shadow: $dark-shadow;
}